<ul>
  <h1> Profile </h1>
    <li>
      <%= @profile.first_name + @profile.last_name  %>
    </li>
    <li>
      <%= @profile.first_name %>
    </li>
    <li>
      <%= @profile.last_name %>
    </li>
    <li>
      <%= @profile.phone_number %>
    </li>
    <li>
      <%= @profile.birthday %>
    </li>
    <li>
      <%= @profile.sign_in.email %>
    </li>
</ul>
<ul>
  <li><%= link_to "Edit", edit_profile_path(@profile) %></li>
</ul>
<%= image_tag @profile.image %>





