<ul>
  <h1> Profile </h1>
    <li>
      <%= @user.first_name + @user.last_name  %>
    </li>
    <li>
      <%= @user.first_name %>
    </li>
    <li>
      <%= @user.last_name %>
    </li>
    <li>
      <%= @user.phone_number %>
    </li>
    <li>
      <%= @user.birthday %>
    </li>
    <li>
      <%= @user.email %>
    </li>
</ul>
<ul>
  <li><%= link_to "Edit", edit_user_path(@user) %></li>
</ul>
<% if @user.image.present? %>
<%= image_tag @user.image %>
<% end %>