<h1> Huydz </h1>
<nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="exams">Exam</a></li>
    <li class="breadcrumb-item"><a href="/inprogress">Inprogress</a></li>
    <li class="breadcrumb-item"><a href="/completed", >Completed</a></li>
  </ol>
</nav>

<h1> Inprogress </h1>

<div class="row row-cols-md-3 g-4">
<% @inprogress.each do |inprogres| %>
  <div class="col">
    <div class="card h-100">
      <img src="<%= inprogres.image %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= inprogres.name %></h5>
        <p class="card-text"><%= inprogres.short_description %></p>
      </div>
      <div class="card-footer">
          <a href="#" class="btn btn-primary">Learn more</a>
      </div>
    </div>
  </div>
  <% end %>
</div>
<%= will_paginate @inprogress %>

<h1> Most related </h1>

<div class="row row-cols-md-3 g-4">
<% @most_relates.each do |most_relate| %>
  <div class="col">
    <div class="card h-100">
      <img src="<%= most_relate.image %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= most_relate.name %></h5>
        <p class="card-text"><%= most_relate.short_description %></p>
      </div>
      <div class="card-footer">
          <a href="#" class="btn btn-primary">Learn more</a>
      </div>
    </div>
  </div>
  <% end %>
</div>
<%= will_paginate @most_relates %>
