<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="<%= @exam.image %>" class="w-100" alt="...">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <% @tag_exams.each do |tag_exam| %>
    <h5 class="mt-0"><%= tag_exam.name %></h5>
    <% end %>
    <h5 class="mt-0"><%= @exam.name %></h5>
    <p><%= @exam.short_description %></p>
    <p><%= @exam.number_of_question %> Number of question </p>
    <p><%= @exam.time_out %> Time out</p>
    <p><%= @exam.mark %> Mark </p>
  </div>
  <div>
  <h1><%= @exam.detail %></h1>
  </div>
</div>